@use 'variables' as vars;

body{
    margin: 0;
    padding: 0;
    height: 100%;

    nav{
        .nav-link{
            font-size: vars.$font-size4; 
            margin-left:1.2rem;
            &:hover{
                text-decoration: underline;
            }
        }

        .nav-link.disable{
            color: rgb(95, 98, 100);
            &:hover{
                text-decoration: none;
            }
        }

    }

    #video-index{
        position: fixed;
        top: 0;
        left: 0;
        object-fit: cover;
        width:100%;
        height: 100%;
    }

    .content{
        position: relative;
        z-index: 1;/*over*/
        color:vars.$color1;
        text-align: center;
        padding-top: 100px;
        font-weight: bold;
        -webkit-text-stroke: 1px black;

        h2{
            font-family:vars.$font1;
            font-size: vars.$font-size2;
        }

        h1{
            font-family:vars.$font2;
            font-size: vars.$font-size1;
            padding-bottom: 35px;
            text-decoration: underline white;
                
        }

        p{  
            font-size: vars.$font-size4;
            -webkit-text-stroke: 0.5px black;
            padding-bottom:10%;
        }

        .btn.btn-primary{
            background-color: vars.$color1;
            color:vars.$color2;
            font-size: vars.$font-size6;

            &:hover{
                transform: scale(1.1);
                font-size:vars.$font-size5;
            }

        }


    }
    #langSelect{
    margin-top: 15px;
}
}