
$color1:#fff;
$color2:rgb(37, 33, 33);

$font1:Georgia,'Times New Roman',Times,serif;
$font2:Verdana,Geneva,Tahoma,sans-serif;
$font-size1:4rem;
$font-size2:3rem;
$font-size3: 1.8rem;
$font-size4: 1.5rem;
$font-size5:1.2rem;
$font-size6:1rem;
$font-size11:11px;

